
<div class="col-md-5 left reset">
    <div class="left-up widget has-shadow col-md-12 krofna ">
        <h5>Prisutnost radnika</h5>
        <div id="krofnaChartStatistika">
            <canvas id="prisutnostOsnovneInformacije" class="chartjs-render-monitor"></canvas>
        </div>
    </div>
</div>
<div class="col-md-7 right reset">
    <div class="right-up widget reset has-shadow col-md-12">

        <h5>Sluzbeni izlazak</h5>
        <canvas id="StatistikaSluzbeniIzlazak"></canvas>

    </div>
    <div class="right-middle reset widget has-shadow col-md-12">
        <h5>Privatni izlazak</h5>
        <canvas id="StatistikaPrivatniIzlazak"></canvas>

    </div>
    <div class="right-down reset widget has-shadow col-md-12">

        <h5>Pauza</h5>
        <canvas id="StatistikaPauza"></canvas>
    </div>
</div>