
<div class="col-md-5 left reset">
    <div class="left-up widget has-shadow col-md-12 ">
        <h5>Radno vrijeme</h5>

        <div id="RadnoVrijemeRadnik">

        </div>
    </div>
    <div class="left-down widget has-shadow col-md-12 aktivnosti">
        <h5>Aktivnosti</h5>
        <div id="Aktivnosti">

        </div>
    </div>
</div>
<div class="col-md-7 right reset">
    <div class="right-up widget reset has-shadow col-md-12">
        <h5>Službeni izlazak</h5>
        <div id="Sluzbeni">
            <canvas id="myChart"></canvas>
        </div>
    </div>
    <div class="right-middle reset widget has-shadow col-md-12">
        <h5>Pauza</h5>
        <div id="MojID">
            <canvas id="myChartPauza" class="col-md-12"></canvas>
        </div>
    </div>
    <div class="right-down reset widget has-shadow col-md-12">
        <h5>Privatni izlazak</h5>
        <canvas id="myChartPrivatno"></canvas>
    </div>
</div>